
<!DOCTYPE html>
<html> 

<!--Stylesheet-->
<link rel= "stylesheet" type= "text/css" href= "/static/css/style.css"/>
  <head>

<div class="topnav">
 <a class="active" href="http://localhost:5000/mosasaurus">Mosasaurus</a>
 <a href="http://localhost:5000/spinosaurus">Spinosaurus</a>
 <a href="http://localhost:5000/trex">T-Rex</a>
 <a href="http://localhost:5000/passwordupdate/">Update password</a>
 <a href="http://localhost:5000/logout/">Log out</a>
</div>

<!--Header-->
<h1> Mosasaurus </h1>
  </head>

<!--Image-->
<a href= "mosasurus.html"><img src= "/static/img/mosasaurus.jpeg" width="650" height="400" alt="dinosaur"></a>
<a href= "mosasurus.html"><img src= "/static/img/mosasaurus 2.jpg" width="650" height="400" alt="dinosaur"></a>
</div>
  <body>

<!--Paragraph-->
 <p> The Mosasaur was a oceanic predator, approximately over 40 feet long and having a fossil record over the span of 27 million years.<br> Its was discovered
 in 1764, by lieutenant Jean Baptiste Drouin.


<!--Unordered list of facts-->
<h2>Fun facts</h2>
 <ul>
  <li>The name Mosasaurus means: "Lizard of the Meuse River".</li>
  <li>The largergest discovered Mosasaurus had a length of up to 56 feet long!</li>
  <li>The Mosasaurus spent most of its time near the ocean surface, much like modern whales do, since they breathed air in a similar fashion.</li>
 </ul>

<!-- Work cited ordered list-->
<h2> Work cited</h2>
 <h3>and where to find more information </h3> </p>
  <ol>
   <li><a href="https://www.nationalgeographic.com/science/article/how-mosasaurs-slid-into-the-sea">NationalGeographic.com</a></li>
   <li><a href="https://www.factsjustforkids.com/dinosaur-facts/mosasaurus-facts-for-kids.html">factsjustforkids.com</a></li>
  </ol>
</body>

<!-- Current time and date-->
<h3>
 {{date}}
 {{time}}
</h3>

<!--Links to 2 other pages-->
<h3> My other sites</h3>
 <ol>
  <li id="listitem"><a href="http://localhost:5000/">Spinosaurus</a></li>
  <li id="listitem"><a href="http://localhost:5000/trex">T-Rex</a></li>
 </ol>


</html>

