<!DOCTYPE html>
<hmtl>

<!--Stylesheet-->
<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>

<head>

<div class="topnav">
 <a href="http://localhost:5000/mosasaurus">Mosasaurus</a>
 <a href="http://localhost:5000/spinosaurus">Spinosaurus</a>
 <a href="http://localhost:5000/trex">T-Rex</a>
 <a class="active" href="http://localhost:5000/passwordupdate/">Update password</a>
 <a href="http://localhost:5000/logout/">Log out</a>
</div>

<h1>Update password</h1>
</head>
<body>
<form action="http://localhost:5000/passwordupdate/" method="post">
<label for="username">Email</label> <input type="email" name="email" placeholder="example@email.com">
<label for="password">Password</label> <input type="password" name="password">
<label for="password">New password</label> <input type="password" name="new_password">
<button class="button is-block is-info is-large is-fullwidth">Submit</button>
</form>

{% if error %}
<p class="error"><strong><Error:</strong>{{error}}
{% endif %}
</body>
</html>