<!DOCTYPE html>
<html> 

<!--Stylesheet-->
<link rel= "stylesheet" type= "text/css" href= "/static/css/style.css"/>
  <head>

<div class="topnav">
 <a href="http://localhost:5000/mosasaurus">Mosasaurus</a>
 <a class="active" href="http://localhost:5000/spinosaurus">Spinosaurus</a>
 <a href="http://localhost:5000/trex">T-Rex</a>
 <a href="http://localhost:5000/passwordupdate/">Update password</a>
 <a href="http://localhost:5000/logout/">Log out</a>
</div>

<!--Header-->
<h1> Spinosaurus </h1>
  </head>

<!--Image-->
<a href= "trex.html"><img src= "/static/img/Spinosaurus.jpg" width="650" height="400" alt="dinosaur"></a>
<a href= "trex.html"><img src= "/static/img/spinosaurus 2.png" width="650" height="400" alt="dinosaur"></a>

<!--Paragraph-->
<body>
 <p> The Spinosaurus was a large carnivorous dinosaur first described in 1910
 when fossils were found in Egypt. <br>
 It is estimated to live 100 million years ago in North Africa. <br>
 It was a primarily aquatic creature that hunted aquatic 
 creatures.


<!--Table of sizes-->
<table border=".5">
 <caption>Size Comparison</caption>
  <tr>
   <th>Name</th>
   <th>Spinosaurus</th>
   <th>Alligator</th>
  </tr>

  <tr>
   <th>Length</th>
    <td>46 feet </td>
    <td>12 feet</td>
  </tr>

  <tr>
   <th>Weight</th>
    <td>12-19 tons</td>
    <td>800lb</td>
  </tr>

  <tr>
   <th>Teeth Size</th>
    <td>5-6 inches</td>
    <td>3.75 inches</td>
  </tr>
</table>

<!--Image-->
<a href="trex.html"><img src="/static/img/spinosaurus 3.jpg" width="650" height="400" alt="dinosaur"></a>
<a href="trex.html"><img src="/static/img/spinosaurus 4.jpg" width="650" height="400" alt="dinosaur"></a>


<!--Unordered list of facts-->
<h2>Fun facts</h2>
 <ul>
  <li>Spinosaurus was the largest known carnivorous dinosaur</li>
  <li>Spinosaurus literally means "spine lizard"</li>
  <li>Spinosaurus was featured in Jurassic Park 3</li>
 </ul>
<br>

<!-- Work cited ordered list-->
<h2> Work cited</h2>
 <h3>and where to find more information </h3>
  <ol>
   <li><a href="https://www.nationalgeographic.com.es/ciencia/spinosaurus-se-alimentaba-como-pajaro-pescador_16278">NationalGeographic.com</a></li>
   <li><a href="https://www.livescience.com/24120-spinosaurus.html">Livescience.com</a></li>
   <li><a href="https://www.sciencekids.co.nz/sciencefacts/dinosaurs/spinosaurus.html">Sciencekids.co.nz</a></li>
  </ol>
</body>

<!-- Current time and date-->
<h3>
 {{date}}
 {{time}}
</h3>

<!--Links to 2 other pages-->
<h3> My other sites</h3>
 <ol>
  <li id="listitem"><a href="http://localhost:5000/trex">T-Rex</a></li>
  <li id="listitem"><a href="http://localhost:5000/mosasaurus/">Mosasaurus</a></li>
 </ol>


</html>

