<!DOCTYPE html>
<html> 

<!--Stylesheet-->
<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
  <head>

<div class="topnav">
 <a href="http://localhost:5000/mosasaurus">Mosasaurus</a>
 <a href="http://localhost:5000/spinosaurus">Spinosaurus</a>
 <a class="active" href="http://localhost:5000/trex">T-Rex</a>
 <a href="http://localhost:5000/passwordupdate/">Update password</a>
 <a href="http://localhost:5000/logout/">Log out</a>
</div>


<!--Header-->
<h1> Tyrannosaurus Rex </h1>
 </head>

<!--Image-->
<a href= "trex.html"><img src= "/static/img/trex.jpg" width="650" height="400" alt="dinosaur"></a>
<a href= "trex.html"><img src= "/static/img/trex 2.jpg" width="650" height="400" alt="dinosaur"></a>
</div>
<body>

<!--Paragraph-->
 <p> The Tyrannosaurus Rex was a large carnivoruos dinosaur that 
 lived during the Cretaceous period, 68 million years ago.<br> They're famously
 aggreasive hunting was aided by their keen sense of smell.<br> Its diet consisted
 of primarily herbivorous dinosuars including the Edmontosarus and Triceratops.

<!--Unordered list of facts-->
   <h2>Fun facts</h2>
<ul>
 <li>Tyrannosaurus Rex could deliver a bite force up to 6 tons</li>
 <li>Tyrannosaurus Rex literally means "king of the tyrant lizards"</li>
 <li>Tyrannosaurus Rex grew up to the size of a school bus</li>
</ul>
  
<br>

<!-- Work cited ordered list-->
<h2> Work cited</h2>
 <h3>and where to find more information </h3>
  <ol>
   <li><a href="https://www.nationalgeographic.com/animals/facts/tyrannosaurus-rex">NationalGeographic.com</a></li>
   <li><a href="https://www.livescience.com/23868-tyrannosaurus-rex-facts.html">Livescience.com</a></li>
  </ol>
</body>

<!-- Current time and date-->
<h3>
 {{date}}
 {{time}}
</h3>
<!--Links to 2 other pages-->
<h3> My other sites</h3>
 <ol>
  <li id="listitem"><a href="http://localhost:5000/">Spinosaurus</a></li>
  <li id="listitem"><a href="http://localhost:5000/mosasaurus/">Mosasaurus</a></li>
 </ol>


</html>

